.ms-font {
  font-family: 'Microsoft YaHei' !important;
}

.reveal .full-width {
  width: 100%;
}

.reveal .wp80 {
  width: 80%;
}

.reveal .wp60 {
  width: 60%;
}

.reveal .wp50 {
  width: 50%;
}


.reveal .center {
  margin: 0 auto;
}

.reveal .font-20 {
  font-size: 20px;
}

.reveal .font-40 {
  font-size: 40px;
}


/* 对其方式、颜色与浮动 */

.reveal .text-center {
  text-align: center;
}

.reveal .text-right {
  text-align: right;
}

.reveal .text-left {
  text-align: left;
}

.reveal .pull-left {
  float: left;
}

.reveal .pull-right {
  float: right;
}

.reveal .text-danger {
  color: #c12e2a;
}

.reveal .text-primary {
  color: #337ab7;
}

.reveal .text-gray {
  color: #ccc;
}


/* UL样式 */

.reveal .ul-inline>li {
  list-style: none;
  float: left;
}

.reveal .no-list-style {
  list-style: none;
}

.reveal .no-list-style>li {
  list-style: none;
}

.reveal .col-2>li {
  width: 50%;
}

.reveal .col-3>li {
  width: 33.33333%;
}


/* 标签容器样式 */

.reveal .tag-container {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px;
}

.reveal .tag-container span {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid orange;
}

.reveal img.enlarge-mode {
  position: fixed;
  z-index: 1000;
  top: 20%;
  left: 0;
}
