.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Microsoft YaHei';
}

ul {
  margin-left: 0;
}

.section1 .vue-logo {
  transform: rotateX(180deg);
  border: none;
  background: transparent;
  box-shadow: none;
  width: 40%;
}

.section1 .avatar {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  border: none;
  left: calc(50% - 315px / 2);
}

.section3 .ul-inline>li,
.section3-1 .ul-inline>li {
  width: 33.33333%;
}
