.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Microsoft YaHei';
}

.page1 .vue-logo {
  transform: rotateX(180deg);
  border: none;
  background: transparent;
  box-shadow: none;
  width: 40%;
}
